@media only screen and (max-width: 600px) {
    @font-face {
        font-family: 'Migra';
        src: url('../fonts/Migra-ExtraBold.woff2') format('woff2');
        font-weight: 900;
        font-style: normal;
        letter-spacing: 1px
     }
    .mobileSectionHeading {
        display: block;
        line-height: 1;
        letter-spacing: 1px;
    }
    .desktopSectionHeading {
        display: none;
    }

    footer {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        position: relative;
        align-content: center;
    }
    #copyright {
        padding-top: 20px;
        text-align: center;
    }
    .sectionHeading {
        font-size: 3em;
    }

    #lottieHeader {
        width: 95%; 
        height: auto;
    }

    header {
        height: 60vh;
        width: 100vw;
    }

    .rotate {
        height: 45px;
        width: 45px;
    }
    .marquee {
        font-size: 1em;
     } 
     .list-inline img {
        height:10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .linkItem a {
        width: auto;
        height: 20px;
        display: inline;
        padding: 10px;
        font-size: smaller;
        text-align: center;
    }
    #profile {
        /*border: 1px solid salmon;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 20px;
    }
    #profilePic {
        display: none;
    }
    #lancePortrait {
        background-image: url("../images/profilePictureLance.jpg");
        display: block;
        background-size: cover;
        height: 380px;
        width: 380px;
    }
    
    #profileIntro p {
        font-size: 1em;
        padding: 20px;
    }
    .profileContent {
        display: block;
    }

    #diamonShape {
        height: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .breakLineStar {
        width: 100%;
        justify-content: center;
        position: relative;
        top: -30px;
    }
    #emailMeButton {
        width: 200px; 
        height: 181px;
    }
    #contactList {
        height: 100px;
    }
}
@media screen and (min-width: 601px) {

    .mobileSectionHeading {
        display: none;
    }
    .desktopSectionHeading {
        display: block;
        letter-spacing: 1px;
    }

    #lottieHeader {
        width: 70%; 
        height: auto;
    }
    header {
        height: 80vh;
    }
    .sectionHeading {
        font-size: 5em;
    }
    .linkItemNav a {
        padding-right: 20px;
        padding-left: 20px;
    }
    .rotate {
        height: 50px;
        width: 50px;
    }
    #profilePic {
        height: 550px;
        width: 550px;
        z-index: 1;
        position: relative;
        right: -10px;
        top: -10px;
        display: block;
    }
    #profilePic {
        background-image: url(../images/profilePictureLanceD.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        filter: drop-shadow(3px 4px 10px rgb(200, 89, 89));
    }
    #lancePortrait {
        display: none;
    }
    
    #profileIntro {
        height: 350px;
        min-width: 450px;
        position: relative;
        left: -55px;
        top: 100px;
        z-index: 2;
        backdrop-filter: blur(50px);
        padding: 20px 40px;
    }
    #profileIntro p, #profileIntro h3 {
        font-size: 1.3em;
    }
    .marquee {
        font-size: 3em;
        padding-top: 10px;
     } 
    .typeHead6 {
        padding-bottom: 150px;
    }
    .list-inline img {
        height:30px;
    }
    #projectSkillsSection {
        padding-bottom: 50px;
    }
    #diamonShape {
        height: 40px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #introduceHeading {
        position: absolute;
        display: block;
        z-index: 4;
        top: 0px;
        padding-top: 20px;
        text-shadow: 2px 2px 8px #000000;
    }
    #profile {
        padding-top: 100px;
        padding-bottom: 50px;
    }
    .breakLineStar {
        width: 100%;
        justify-content: center;
        position: relative;
        top: -35px;
    }
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    
}
  @media only screen  and (min-width : 1080px) {
    .animatable {
  
        /* initially hide animatable objects */
        visibility: hidden;
        
        /* initially pause animatable objects their animations */
        -webkit-animation-play-state: paused;   
        -moz-animation-play-state: paused;     
        -ms-animation-play-state: paused;
        -o-animation-play-state: paused;   
        animation-play-state: paused; 
      }
      
      /* show objects being animated */
      .animated {
        visibility: visible;
        
        -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
        -o-animation-fill-mode: both;
        animation-fill-mode: both;
        
        -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
        -o-animation-duration: 1s;
        animation-duration: 1s;
      
        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        -ms-animation-play-state: running;
        -o-animation-play-state: running;
        animation-play-state: running;
      }
      
      
      @-webkit-keyframes fadeInUp {
          0% {
              opacity: 0;
              -webkit-transform: translateY(20px);
          }	100% {
              opacity: 1;
              -webkit-transform: translateY(0);
          }
      }
      
      @-moz-keyframes fadeInUp {
          0% {
              opacity: 0;
              -moz-transform: translateY(20px);
          }
      
          100% {
              opacity: 1;
              -moz-transform: translateY(0);
          }
      }
      
      @-o-keyframes fadeInUp {
          0% {
              opacity: 0;
              -o-transform: translateY(20px);
          }
      
          100% {
              opacity: 1;
              -o-transform: translateY(0);
          }
      }
      
      @keyframes fadeInUp {
          0% {
              opacity: 0;
              transform: translateY(20px);
          }
      
          100% {
              opacity: 1;
              transform: translateY(0);
          }
      }
      .animated.fadeInUp {
          -webkit-animation-name: fadeInUp;
          -moz-animation-name: fadeInUp;
          -o-animation-name: fadeInUp;
          animation-name: fadeInUp;
      }
      #emailMeButton {
            width: 500px; 
            height: auto;
            cursor: url('../images/pressButtonPointer60.png'), pointer;
      }
  }  
  @media only screen  and (min-width : 1224px) {

  }



/*
Font: 		Amient
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T14212/amient
Foundry: 	Piotr Lapa
Foundry: 	https://www.youworkforthem.com/designer/1166/piotr-lapa
Copyright:	Copyright © 2021 by Piotr _apa. All rights reserved.
Version: 	17
Created:	June 05, 2021
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Amient-Regular';
	src: url('../fonts/amient-regular.eot');
	src: url('../fonts/amient-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/amient-regular.woff2') format('woff2'),
	     url('../fonts/amient-regular.woff') format('woff'),
	     url('../fonts/amient-regular.ttf') format('truetype'),
	     url('../fonts/amient-regular.svg#youworkforthem') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'Migra';
    src: url('../fonts/Migra-ExtraBold.woff2') format("woff2"),
    url('../fonts/Migra-Extrabold.ttf') format("truetype"),
    url('../fonts/Migra-Extrabold.otf') format("opentype"),
    url("../fonts/Migra-Extrabold.woff") format("woff"),
    url("../fonts/Migra-Extrabold.eot") format("eot");
    font-weight: 900;
    font-style: normal;
    letter-spacing: 1px
}
 /*@font-face {
    font-family: 'Migra';
    src: url('../fonts/Migra-ExtraLight.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
 }
 @font-face {
    font-family: 'Migra';
    src: url('../fonts/Migra-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
 }*/
@font-face {
    font-family: 'NeueMontreal';
    src: url('../fonts/NeueMontreal-Light.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
    letter-spacing: 1px
}
@font-face {
    font-family: 'NeueMontreal';
    src: url('../fonts/NeueMontreal-Bold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    letter-spacing: 1px
}

@font-face {
    font-family: 'NeueMontreal';
    src: url('../fonts/NeueMontreal-Regular.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    letter-spacing: 1px
}
body {
    margin: 0;
    background-image: url(../images/backgroundNoisePattern.jpeg);
    background-repeat: repeat;
    background-color: black;
    box-sizing: content-box;
    color: white;
}

h1, h2, h3, h4, h5, h6, p {
    letter-spacing: 1px
}

.headerNav {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 5px;
     box-sizing: content-box;
     
}

header {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 80px;
    flex-direction: column;
}

#lottieHeader {
    display: block;
    z-index: 1;
    cursor: url("data:image/svg+xml,%253Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 120 120' style='enable-background:new 0 0 120 120;' xml:space='preserve'%253E%253Cstyle type='text/css'%253E .st0%257Bfill:%2523FFFFFF;%257D%250A%253C/style%253E%253Cg id='ring'%253E%253Cpath d='M60,117.5C28.3,117.5,2.5,91.7,2.5,60S28.3,2.5,60,2.5s57.5,25.8,57.5,57.5S91.7,117.5,60,117.5z M60,23.5 c-20.1,0-36.5,16.4-36.5,36.5S39.9,96.5,60,96.5S96.5,80.1,96.5,60S80.1,23.5,60,23.5z'/%253E%253C/g%253E%253Cg id='text'%253E%253Cpath class='st0' d='M80.9,13.8l-0.5,0.9l0,0c1-0.5,2-0.4,3,0.1c0.6,0.3,1.1,0.8,1.5,1.4s0.5,1.3,0.5,2c0,0.8-0.2,1.6-0.6,2.4 s-0.9,1.5-1.6,1.9s-1.3,0.7-2,0.8c-0.7,0.1-1.3-0.1-2-0.4c-1.1-0.5-1.7-1.4-1.8-2.4l0,0L75.6,24l-1.2-0.6l5.2-10.2L80.9,13.8z M79.7,21.8c0.5,0.3,1,0.3,1.5,0.2c0.5-0.1,1-0.3,1.4-0.7c0.4-0.4,0.7-0.8,1-1.3s0.4-1.1,0.5-1.6s0-1-0.2-1.5s-0.6-0.8-1.1-1.1 c-0.7-0.4-1.4-0.4-2.1,0c-0.7,0.3-1.3,0.9-1.7,1.8c-0.5,0.9-0.6,1.7-0.5,2.5C78.6,20.8,79,21.4,79.7,21.8z M92.4,20.8l-0.8,1.1l0,0 c-0.1-0.1-0.3-0.3-0.4-0.4c-0.6-0.5-1.3-0.6-2-0.5s-1.3,0.6-1.8,1.2l-2.7,3.7l-1.1-0.8l5.1-6.9l1.1,0.8l-1,1.4l0,0 c0.6-0.3,1.1-0.5,1.6-0.6c0.5,0,1,0.1,1.5,0.5C92.1,20.4,92.3,20.6,92.4,20.8z M92.4,30.9c0.5,0,1-0.1,1.4-0.3l0.9,1 c-0.8,0.4-1.6,0.6-2.4,0.5c-0.8-0.1-1.6-0.5-2.3-1.2c-0.6-0.6-1-1.3-1.2-2s-0.1-1.4,0.1-2.2c0.3-0.7,0.7-1.4,1.3-2 c1-1,2.1-1.5,3.2-1.5s2.1,0.4,3,1.3s1.3,2,1.2,3c-0.1,1.1-0.8,2.2-1.9,3.2L91,25.9c-0.4,0.4-0.7,0.8-0.8,1.3 c-0.2,0.5-0.2,1-0.1,1.4c0.1,0.5,0.4,1,0.8,1.4C91.3,30.5,91.9,30.8,92.4,30.9z M94.3,24.5c-0.5-0.1-0.9-0.2-1.3-0.1 s-0.8,0.3-1.2,0.6l3.8,3.9c0.3-0.3,0.6-0.7,0.7-1.1s0.1-0.9,0-1.3s-0.4-0.9-0.7-1.2C95.2,24.9,94.8,24.6,94.3,24.5z M99.9,35.4 c0.2,0.7,0.3,1.2,0.1,1.8c-0.1,0.5-0.5,1-1,1.3c-0.4,0.3-0.9,0.4-1.4,0.4s-1-0.2-1.4-0.5c-0.5-0.3-0.9-0.7-1.2-1.3 c-0.7-1.1-1-2-0.9-2.9c0.1-0.8,0.5-1.6,1.3-2.1l0.7,1.1c-0.5,0.4-0.7,0.8-0.8,1.3c-0.1,0.5,0.1,1.1,0.7,1.9c0.4,0.6,0.8,0.9,1.2,1 c0.4,0.1,0.8,0.1,1-0.1c0.3-0.2,0.5-0.4,0.5-0.6c0.1-0.2,0.1-0.5,0-0.7c-0.1-0.3-0.2-0.6-0.3-1l-0.2-0.4c-0.1-0.2-0.1-0.4-0.2-0.5 c-0.2-0.6-0.4-1-0.5-1.4s-0.1-0.8,0-1.2c0.1-0.4,0.4-0.7,0.9-1c0.4-0.2,0.8-0.4,1.2-0.4c0.5,0,0.9,0.2,1.4,0.4 c0.5,0.3,0.9,0.7,1.2,1.2c0.6,0.8,0.8,1.7,0.7,2.4c-0.1,0.8-0.4,1.4-1.1,1.9l-0.7-1.1c0.3-0.3,0.5-0.7,0.6-1.1 c0.1-0.4-0.1-0.9-0.5-1.5c-0.3-0.5-0.7-0.8-1-1c-0.4-0.2-0.7-0.1-1,0.1c-0.2,0.1-0.4,0.3-0.4,0.6c0,0.2,0,0.4,0,0.7 c0.1,0.2,0.2,0.6,0.3,1l0.2,0.5C99.5,34.3,99.7,34.7,99.9,35.4z M103.7,42.8c0.1,0.7,0.1,1.3-0.2,1.8c-0.2,0.5-0.7,0.9-1.3,1.1 c-0.5,0.2-0.9,0.3-1.4,0.1c-0.5-0.1-0.9-0.4-1.3-0.7c-0.4-0.4-0.7-0.9-1-1.5c-0.5-1.2-0.6-2.2-0.4-3s0.8-1.4,1.7-1.9l0.5,1.2 c-0.5,0.3-0.9,0.7-1.1,1.1s-0.1,1.1,0.3,2c0.3,0.6,0.6,1,1,1.2s0.7,0.2,1,0.1c0.3-0.1,0.5-0.3,0.6-0.5s0.2-0.5,0.1-0.7 c0-0.3-0.1-0.6-0.1-1.1l-0.1-0.5c0-0.2-0.1-0.4-0.1-0.5c-0.1-0.6-0.2-1.1-0.2-1.5s0.1-0.8,0.2-1.1c0.2-0.4,0.5-0.7,1-0.9 c0.4-0.2,0.8-0.2,1.3-0.1c0.4,0.1,0.9,0.3,1.3,0.7s0.7,0.8,1,1.4c0.4,0.9,0.5,1.8,0.3,2.5s-0.7,1.3-1.4,1.7l-0.5-1.2 c0.4-0.3,0.6-0.6,0.8-0.9c0.1-0.4,0.1-0.9-0.2-1.6c-0.2-0.5-0.5-0.9-0.8-1.1s-0.6-0.3-1-0.1c-0.2,0.1-0.4,0.3-0.5,0.5 s-0.1,0.4-0.1,0.7s0.1,0.6,0.2,1l0.1,0.5C103.5,41.8,103.6,42.2,103.7,42.8z M109.5,59l-5.2,0.1c-0.4,0-0.7,0.1-0.8,0.3 c-0.2,0.2-0.2,0.5-0.2,0.9c0,0.2,0,0.3,0,0.5h-1.2c-0.1-0.3-0.1-0.6-0.1-1c0-0.6,0.1-1.1,0.4-1.5s0.9-0.6,1.7-0.6l5.3-0.2v-1.3h1.2 v1.3l2.9-0.1v1.3l-2.9,0.1v1.7h-1.2L109.5,59z M109.4,69.1c-0.5,0.5-1.3,0.7-2.2,0.5l-5.9-0.8l0.2-1.3l5.6,0.7 c0.6,0.1,1.1,0,1.5-0.3s0.6-0.7,0.7-1.3c0.1-0.7,0-1.4-0.4-1.9s-0.9-0.8-1.5-0.9l-5.3-0.7l0.2-1.3l11.9,1.5l-0.2,1.3l-4.4-0.6l0,0 c0.3,0.3,0.6,0.7,0.8,1.2c0.2,0.5,0.2,1.1,0.1,1.7C110.3,68,110,68.6,109.4,69.1z M100.7,75.7c0.2,0.5,0.5,0.9,0.9,1.1l-0.4,1.3 c-0.7-0.5-1.2-1.1-1.5-1.9s-0.3-1.7,0-2.6c0.3-0.8,0.7-1.5,1.2-1.9c0.6-0.5,1.2-0.8,2-0.9s1.6,0,2.4,0.3c1.3,0.5,2.3,1.2,2.8,2.1 c0.5,1,0.6,2,0.2,3.2c-0.4,1.3-1.1,2.1-2.2,2.4c-1,0.4-2.3,0.3-3.7-0.2l2.2-6.4c-0.5-0.2-1-0.2-1.5-0.2c-0.5,0.1-0.9,0.2-1.3,0.6 c-0.4,0.3-0.7,0.7-0.9,1.3C100.5,74.6,100.5,75.2,100.7,75.7z M107.2,74.6c-0.1-0.5-0.3-0.9-0.6-1.2c-0.3-0.4-0.7-0.6-1.1-0.7 l-1.7,5.1c0.4,0.1,0.9,0.2,1.3,0.1s0.8-0.3,1.2-0.6c0.3-0.3,0.6-0.7,0.8-1.2S107.3,75,107.2,74.6z M100.8,95.6l-3.3-3.1l0,0 c0.2,1.1-0.1,2-0.9,2.9c-0.5,0.5-1.1,0.9-1.7,1c-0.7,0.2-1.4,0.1-2.1-0.1s-1.4-0.7-2.1-1.3c-0.7-0.6-1.1-1.3-1.4-2 s-0.3-1.4-0.2-2.1c0.1-0.7,0.5-1.3,1-1.8c0.8-0.8,1.7-1.2,2.8-1.1l0,0l-0.8-0.7l0.9-1l8.7,8.3L100.8,95.6z M91,89.8 c-0.4,0.4-0.6,0.9-0.7,1.4s0,1,0.3,1.5s0.6,0.9,1,1.4c0.4,0.4,0.9,0.7,1.4,0.9c0.5,0.2,1,0.3,1.5,0.2c0.5-0.1,1-0.3,1.3-0.7 c0.6-0.6,0.8-1.2,0.6-2c-0.1-0.8-0.5-1.5-1.3-2.2c-0.7-0.7-1.5-1.1-2.2-1.2C92.2,89,91.5,89.2,91,89.8z M86.1,103.6l-4.9-7l1.1-0.8 l0.6,0.8l0,0c0-0.4,0.1-0.9,0.4-1.4c0.2-0.5,0.6-0.9,1.2-1.3c0.7-0.5,1.4-0.7,2.1-0.6s1.3,0.5,1.9,1.3l3.4,4.9l-1.1,0.8l-3.2-4.6 c-0.3-0.5-0.7-0.8-1.2-0.9s-0.9,0-1.5,0.4s-1,1-1.1,1.6s0,1.2,0.4,1.8l3.1,4.4L86.1,103.6z M81.2,104.7L79,100 c-0.2-0.4-0.4-0.6-0.6-0.6c-0.2-0.1-0.6,0-1,0.2c-0.2,0.1-0.3,0.2-0.4,0.2l-0.5-1.1c0.2-0.2,0.5-0.4,0.9-0.5 c0.6-0.3,1.1-0.3,1.6-0.2c0.5,0.1,0.9,0.6,1.2,1.3l2.3,4.8l1.1-0.6l0.5,1.1l-1.1,0.6l1.2,2.6l-1.2,0.6l-1.3-2.6l-1.5,0.7l-0.5-1.1 L81.2,104.7z M76.3,106.7l-1.7-4.9c-0.1-0.4-0.3-0.6-0.6-0.7c-0.2-0.1-0.6-0.1-1,0.1c-0.2,0.1-0.3,0.1-0.4,0.2l-0.4-1.1 c0.3-0.2,0.6-0.3,0.9-0.4c0.6-0.2,1.1-0.2,1.6,0c0.4,0.2,0.8,0.7,1.1,1.4l1.8,5l1.2-0.4l0.4,1.1l-1.2,0.4l1,2.7l-1.3,0.5l-1-2.7 l-1.6,0.6l-0.4-1.1L76.3,106.7z M67.7,101.1c0.9-0.2,1.6-0.1,2.3,0.2c0.7,0.3,1.3,0.7,1.7,1.3c0.5,0.6,0.8,1.4,0.9,2.2 c0.2,0.9,0.1,1.7-0.1,2.4c-0.2,0.7-0.6,1.3-1.1,1.8c-0.6,0.5-1.3,0.8-2.1,1c-0.8,0.2-1.6,0.1-2.3-0.2c-0.7-0.3-1.3-0.7-1.7-1.3 c-0.5-0.6-0.8-1.4-0.9-2.2c-0.2-0.9-0.1-1.7,0.1-2.4c0.2-0.7,0.6-1.3,1.1-1.8S66.8,101.3,67.7,101.1z M67.9,102.3 c-0.9,0.2-1.5,0.6-1.9,1.3c-0.4,0.7-0.5,1.5-0.3,2.5s0.6,1.7,1.2,2.2s1.3,0.7,2.2,0.5c0.9-0.2,1.5-0.6,1.9-1.3 c0.4-0.7,0.5-1.5,0.3-2.5s-0.6-1.7-1.2-2.2S68.8,102.1,67.9,102.3z M56.4,110.1c-0.5-0.5-0.8-1.2-0.8-2.1l0.1-6H57l-0.1,5.7 c0,0.6,0.1,1.1,0.4,1.4c0.3,0.4,0.8,0.6,1.4,0.6c0.8,0,1.4-0.2,1.8-0.6c0.5-0.4,0.7-1,0.7-1.6l0.1-5.4h1.3l-0.1,8.6h-1.3v-1l0,0 c-0.3,0.4-0.7,0.6-1.1,0.9c-0.5,0.2-1,0.3-1.7,0.3C57.6,110.8,57,110.6,56.4,110.1z M40.1,106.6l0.5-1l0,0c-1,0.5-2,0.5-3,0 c-0.6-0.3-1.1-0.8-1.5-1.3c-0.4-0.6-0.6-1.3-0.6-2c0-0.8,0.2-1.6,0.6-2.4c0.4-0.8,0.9-1.5,1.5-1.9c0.6-0.5,1.3-0.7,1.9-0.8 c0.7-0.1,1.3,0,2,0.4c1.1,0.5,1.7,1.3,1.9,2.4l0,0l1.7-3.6l1.2,0.6l-5,10.3L40.1,106.6z M41.1,98.6c-0.5-0.2-1-0.3-1.5-0.2 c-0.5,0.1-1,0.3-1.4,0.7c-0.4,0.4-0.7,0.8-1,1.3s-0.4,1.1-0.4,1.6s0.1,1,0.3,1.5s0.6,0.8,1.1,1.1c0.7,0.3,1.4,0.3,2.1,0 c0.7-0.3,1.2-1,1.7-1.9c0.4-0.9,0.6-1.7,0.4-2.5C42.2,99.5,41.8,99,41.1,98.6z M28.3,99.9l0.8-1.1l0,0c0.1,0.1,0.3,0.2,0.4,0.3 c0.6,0.5,1.3,0.6,2,0.4c0.7-0.2,1.3-0.6,1.8-1.3l2.7-3.7l1.1,0.8l-5,7l-1.1-0.8l1-1.4l0,0c-0.6,0.4-1.1,0.6-1.6,0.6 c-0.5,0.1-1-0.1-1.5-0.4C28.7,100.2,28.5,100,28.3,99.9z M28.2,89.8c-0.5,0-1,0.1-1.4,0.3l-1-0.9c0.8-0.4,1.6-0.6,2.4-0.6 c0.8,0.1,1.6,0.5,2.3,1.2c0.6,0.6,1,1.3,1.2,2s0.2,1.4-0.1,2.2c-0.2,0.7-0.7,1.4-1.3,2c-1,1-2,1.5-3.1,1.6s-2.1-0.4-3-1.3 s-1.4-1.9-1.2-3c0.1-1.1,0.7-2.2,1.8-3.3l4.8,4.8c0.4-0.4,0.6-0.8,0.8-1.3c0.2-0.5,0.2-1,0.1-1.4c-0.1-0.5-0.4-0.9-0.8-1.4 C29.3,90.1,28.7,89.8,28.2,89.8z M26.4,96.2c0.5,0.1,0.9,0.1,1.4,0c0.4-0.1,0.8-0.3,1.1-0.7L25,91.7c-0.3,0.3-0.5,0.7-0.7,1.1 c-0.1,0.4-0.1,0.9,0,1.3s0.4,0.9,0.8,1.2C25.5,95.8,25.9,96,26.4,96.2z M20.6,85.4c-0.3-0.7-0.3-1.2-0.2-1.8c0.1-0.5,0.5-1,1-1.4 c0.4-0.3,0.9-0.4,1.4-0.4s1,0.2,1.4,0.5c0.5,0.3,0.9,0.7,1.3,1.2c0.7,1,1,2,1,2.8c-0.1,0.8-0.5,1.6-1.3,2.2l-0.8-1.1 c0.5-0.4,0.7-0.8,0.8-1.3c0.1-0.5-0.1-1.1-0.7-1.9c-0.4-0.6-0.8-0.9-1.2-1c-0.4-0.1-0.8-0.1-1,0.1s-0.4,0.4-0.5,0.7 c-0.1,0.2-0.1,0.5,0,0.7c0.1,0.3,0.2,0.6,0.3,1l0.2,0.4c0.1,0.2,0.2,0.4,0.2,0.5c0.2,0.6,0.4,1,0.5,1.4s0.1,0.8,0,1.2 c-0.1,0.4-0.4,0.7-0.8,1.1c-0.4,0.3-0.8,0.4-1.2,0.4c-0.5,0-0.9-0.1-1.4-0.4c-0.6-0.3-1-0.7-1.4-1.3c-0.6-0.8-0.8-1.6-0.8-2.4 c0.1-0.8,0.4-1.4,1-1.9l0.8,1.1c-0.3,0.3-0.5,0.7-0.6,1.1s0.1,0.9,0.5,1.5c0.3,0.5,0.7,0.8,1,1s0.7,0.1,1-0.1 c0.2-0.2,0.4-0.3,0.4-0.6c0-0.2,0-0.4,0-0.7c-0.1-0.2-0.2-0.6-0.4-1L21,86.5C21,86.4,20.8,86.1,20.6,85.4z M16.7,78 c-0.1-0.7-0.1-1.3,0.1-1.8s0.6-0.9,1.2-1.2c0.5-0.2,0.9-0.3,1.4-0.2c0.5,0.1,0.9,0.3,1.3,0.7c0.4,0.4,0.7,0.9,1,1.5 c0.5,1.2,0.7,2.1,0.4,3c-0.2,0.8-0.8,1.4-1.6,1.9l-0.6-1.2c0.5-0.3,0.9-0.7,1-1.1c0.2-0.5,0.1-1.1-0.4-2c-0.3-0.6-0.6-1-1-1.2 s-0.7-0.2-1-0.1s-0.5,0.3-0.6,0.5s-0.2,0.5-0.1,0.7c0,0.3,0.1,0.6,0.2,1.1l0.1,0.5c0.1,0.2,0.1,0.4,0.1,0.5 c0.1,0.6,0.2,1.1,0.2,1.5s0,0.8-0.2,1.1c-0.2,0.4-0.5,0.7-1,0.9c-0.4,0.2-0.8,0.2-1.3,0.2c-0.4-0.1-0.9-0.3-1.3-0.7s-0.7-0.8-1-1.4 c-0.4-0.9-0.5-1.8-0.3-2.5s0.7-1.3,1.3-1.7l0.6,1.2c-0.4,0.3-0.6,0.6-0.8,1c-0.1,0.4-0.1,0.9,0.2,1.5c0.2,0.5,0.5,0.9,0.9,1.1 s0.7,0.2,1,0.1c0.2-0.1,0.4-0.3,0.5-0.5s0.1-0.4,0.1-0.7c0-0.3-0.1-0.6-0.2-1l-0.1-0.5C16.9,79.1,16.8,78.7,16.7,78z M10.6,62 l5.2-0.2c0.4,0,0.7-0.1,0.8-0.3s0.2-0.5,0.2-1c0-0.2,0-0.3,0-0.5l1.2-0.1c0.1,0.3,0.1,0.6,0.1,1c0,0.6-0.1,1.1-0.4,1.5 S16.8,63,16,63l-5.3,0.3l0.1,1.3l-1.2,0.1l-0.1-1.3l-2.9,0.1l-0.1-1.3L9.4,62l-0.1-1.7l1.2-0.1L10.6,62z M10.4,51.8 c0.5-0.5,1.3-0.7,2.2-0.6l6,0.6l-0.1,1.3l-5.6-0.6c-0.6-0.1-1.1,0-1.5,0.3s-0.6,0.7-0.7,1.3c-0.1,0.7,0.1,1.4,0.4,1.9 c0.4,0.5,0.9,0.8,1.6,0.9l5.3,0.6l-0.1,1.3l-12-1.3L6,56.3l4.4,0.5l0,0c-0.3-0.3-0.6-0.7-0.8-1.2s-0.2-1.1-0.2-1.7 C9.6,53,9.9,52.3,10.4,51.8z M19,45.1c-0.2-0.5-0.5-0.9-0.9-1.1l0.4-1.3c0.7,0.5,1.3,1.1,1.6,1.9c0.3,0.8,0.3,1.6,0,2.6 c-0.3,0.8-0.7,1.5-1.2,2s-1.2,0.8-2,0.9c-0.8,0.1-1.6,0-2.4-0.2c-1.3-0.4-2.3-1.1-2.8-2.1c-0.5-0.9-0.6-2-0.2-3.2 c0.4-1.3,1.1-2.1,2.1-2.5s2.3-0.3,3.7,0.1l-2,6.5c0.5,0.2,1,0.2,1.5,0.1c0.5-0.1,0.9-0.3,1.3-0.6s0.7-0.8,0.9-1.3 C19.2,46.2,19.3,45.6,19,45.1z M12.5,46.4c0.1,0.5,0.3,0.9,0.6,1.2s0.7,0.6,1.1,0.7l1.6-5.2c-0.4-0.1-0.8-0.1-1.3,0 c-0.4,0.1-0.8,0.3-1.2,0.6c-0.3,0.3-0.6,0.7-0.7,1.2C12.5,45.4,12.4,45.9,12.5,46.4z M18.5,25.2l3.4,3.1l0,0c-0.2-1.1,0-2,0.8-2.9 c0.5-0.5,1.1-0.9,1.7-1.1c0.7-0.2,1.4-0.2,2.1,0s1.4,0.6,2.1,1.2s1.2,1.3,1.4,2c0.3,0.7,0.3,1.4,0.2,2.1c-0.1,0.7-0.4,1.3-0.9,1.8 c-0.8,0.8-1.7,1.2-2.8,1.1l0,0l0.8,0.7l-0.9,1l-8.9-8.1L18.5,25.2z M28.4,30.8c0.4-0.4,0.6-0.9,0.6-1.4s-0.1-1-0.3-1.5 c-0.2-0.5-0.6-0.9-1-1.3s-0.9-0.7-1.4-0.9c-0.5-0.2-1-0.3-1.5-0.2c-0.5,0.1-0.9,0.3-1.3,0.7c-0.5,0.6-0.7,1.3-0.6,2 s0.6,1.5,1.3,2.2c0.7,0.7,1.5,1.1,2.3,1.1C27.3,31.6,27.9,31.4,28.4,30.8z M33.1,16.9l5,6.9L37,24.7l-0.6-0.8l0,0 c0,0.4-0.1,0.9-0.4,1.4c-0.2,0.5-0.6,0.9-1.2,1.3c-0.7,0.5-1.4,0.7-2.1,0.6c-0.7-0.1-1.3-0.5-1.9-1.2l-3.5-4.8l1.1-0.8l3.3,4.6 c0.3,0.5,0.8,0.8,1.2,0.9c0.5,0.1,0.9,0,1.5-0.4s1-1,1.1-1.6s0-1.2-0.4-1.7L32,17.7L33.1,16.9z M37.9,15.7l2.3,4.6 c0.2,0.4,0.4,0.6,0.6,0.6c0.2,0.1,0.6,0,0.9-0.2c0.2-0.1,0.3-0.2,0.4-0.2l0.5,1c-0.2,0.2-0.5,0.4-0.9,0.6c-0.6,0.3-1.1,0.4-1.5,0.2 c-0.5-0.1-0.9-0.6-1.3-1.3l-2.4-4.7l-1.1,0.6l-0.5-1l1.1-0.6l-1.3-2.5l1.2-0.6l1.3,2.5l1.5-0.8l0.5,1L37.9,15.7z M42.8,13.6 l1.8,4.8c0.1,0.4,0.3,0.6,0.6,0.7c0.2,0.1,0.6,0,1-0.1c0.2-0.1,0.3-0.1,0.4-0.2l0.4,1.1c-0.3,0.2-0.6,0.3-0.9,0.5 c-0.6,0.2-1.1,0.3-1.6,0.1c-0.4-0.2-0.8-0.7-1.1-1.4l-1.9-5l-1.2,0.4l-0.4-1.1l1.2-0.4l-1-2.7l1.3-0.5l1,2.7l1.6-0.6l0.4,1.1 L42.8,13.6z M51.5,19c-0.8,0.2-1.6,0.1-2.3-0.1s-1.3-0.7-1.7-1.3c-0.5-0.6-0.8-1.3-1-2.2c-0.2-0.9-0.2-1.7,0-2.4 c0.2-0.7,0.6-1.4,1.1-1.9s1.2-0.8,2.1-1c0.8-0.2,1.6-0.1,2.3,0.1c0.7,0.2,1.3,0.7,1.7,1.3c0.5,0.6,0.8,1.3,1,2.2s0.2,1.7,0,2.4 c-0.2,0.7-0.6,1.4-1.1,1.9C53,18.5,52.4,18.9,51.5,19z M51.3,17.9c0.9-0.2,1.5-0.6,1.9-1.3c0.4-0.7,0.4-1.5,0.2-2.5 s-0.6-1.7-1.2-2.2c-0.6-0.5-1.4-0.7-2.3-0.5C49,11.5,48.4,12,48,12.7s-0.4,1.6-0.2,2.5c0.2,1,0.6,1.7,1.2,2.2 C49.6,17.9,50.4,18.1,51.3,17.9z M62.6,9.8c0.5,0.5,0.8,1.2,0.8,2.1l0.1,6h-1.3l-0.1-5.7c0-0.6-0.2-1.1-0.5-1.4 c-0.3-0.4-0.8-0.5-1.4-0.5c-0.8,0-1.4,0.2-1.8,0.7c-0.5,0.4-0.7,1-0.7,1.7l0.1,5.3h-1.3l-0.1-8.6h1.3v1l0,0 c0.3-0.4,0.6-0.7,1.1-0.9s1-0.4,1.7-0.4C61.3,9.1,62,9.3,62.6,9.8z'/%253E%253C/g%253E%253Cg id='cursorbg'%253E%253Cpath class='st0' d='M61.7,76c-3.9,0-7.1-1.8-9.5-5.4c-1.9-2.9-2.9-6.2-3.5-8.5c-0.1-0.4-0.2-0.8-0.3-1.1c-0.3-0.9-0.1-1.5,0.1-1.9 c0.3-0.5,0.7-0.8,1.3-1C50,58,50.2,58,50.4,58c0.9,0,1.7,0.6,2.1,1.6c0.5,1.3,0.9,2.5,1.3,3.7c0.1,0.2,0.1,0.3,0.1,0.3l0,0l0,0 c0-0.1,0-0.3,0-0.4c0-3.5,0-13.8,0-17.1c0-0.7,0.2-1.3,0.7-1.7c0.4-0.4,1-0.6,1.6-0.6c0.8,0,1.4,0.4,1.8,1.1 c0.3,0.6,0.3,1.1,0.3,1.3c0,3.2,0,8,0,10.3c0,0.7,0,1.1,0,1.3l0,0c0-0.5,0-3.2,0-4.6c0-0.7,0.2-1.3,0.5-1.7c0.4-0.5,1-0.7,1.6-0.7 c0,0,0,0,0.1,0c0.6,0,1.2,0.3,1.5,0.7c0.4,0.4,0.5,1,0.5,1.7c0,1.8,0,3.5,0,5c0,0.1,0,0.2,0,0.2l0,0c0,0,0-0.1,0-0.2 c0-1.3,0-2.2,0-3.4c0-0.7,0.2-1.2,0.6-1.7c0.4-0.4,1-0.7,1.6-0.7l0,0c0.6,0,1.2,0.3,1.6,0.7c0.3,0.4,0.5,1,0.6,1.7 c0,0.7,0,1.5,0,2.2c0,0.6,0,1.2,0,1.8c0,0.1,0,0.2,0,0.3c0,0,0-0.1,0-0.3c0-0.8,0-1.6,0-2.3c0-0.1,0-0.2,0-0.3 c0-0.8,0.4-1.2,0.6-1.5c0.3-0.3,0.8-0.5,1.3-0.5c0.7,0,1.4,0.3,1.8,0.7c0.3,0.3,0.5,0.7,0.5,1.1c0.1,0.4,0.1,1.1,0.2,1.7 c0.1,1,0.2,2.5,0.1,4.2c0,1.9-0.3,3.7-0.6,5.3c-0.5,2-1.2,3.7-2.1,5c-0.8,1.1-1.8,2-2.9,2.6C64.8,75.7,63.4,76,61.7,76z'/%253E%253C/g%253E%253Cg id='cursorol'%253E%253Cpath d='M56.2,44.7c1.2,0,1.3,1.3,1.3,1.7c0,4.2,0,10.9,0,11.6c0,0.5,0.4,0.7,0.8,0.7c0.4,0,0.7-0.2,0.7-0.7c0-0.1,0-3,0-4.6 c0-1,0.5-1.7,1.4-1.7l0,0c0.8,0,1.4,0.6,1.4,1.7c0,1.7,0,3.3,0,5c0,0.5,0.1,1,0.8,1l0,0c0.5,0,0.8-0.4,0.8-0.9c0-1.2,0-2.2,0-3.4 c0-1,0.6-1.6,1.5-1.6l0,0c0.8,0,1.4,0.6,1.4,1.7c0,1.3,0,2.7,0,4c0,0.5,0.1,1,0.7,1c0,0,0,0,0.1,0c0.6,0,0.8-0.5,0.8-1.1 c0-0.9,0-1.7,0-2.6c0-0.9,0.6-1.3,1.2-1.3c0.8,0,1.6,0.5,1.6,1.1c0,0.1,3,18.9-8.9,18.9c-9.3,0-11.5-10.8-12.6-14.4 c-0.3-1,0.1-1.7,0.9-1.9c0.1,0,0.2-0.1,0.4-0.1c0.6,0,1.1,0.4,1.4,1.1c0.5,1.2,0.9,2.5,1.3,3.7c0.2,0.4,0.3,0.8,0.8,0.8 c0.1,0,0.1,0,0.2,0c0.6-0.1,0.7-0.6,0.7-1.1c0-3.3,0-13.8,0-17.1C54.7,45.6,55.2,44.7,56.2,44.7 M56.2,43.2c-0.4,0-0.8,0.1-1.2,0.2 c-0.3,0.1-0.7,0.4-0.9,0.6c-0.6,0.6-0.9,1.4-0.9,2.3c0,2.5,0,8.8,0,13.4c0-0.1,0-0.1-0.1-0.2c-0.2-0.6-0.6-1.1-1.1-1.5 s-1.1-0.6-1.7-0.6c-0.3,0-0.5,0-0.8,0.1c-0.4,0.1-0.7,0.3-1,0.5s-0.6,0.5-0.7,0.9c-0.3,0.5-0.5,1.3-0.2,2.4 c0.1,0.3,0.2,0.7,0.3,1.1c0.3,1.1,0.7,2.5,1.3,4c0.7,1.8,1.4,3.3,2.3,4.7c0.5,0.8,1.1,1.5,1.7,2.2c0.7,0.7,1.5,1.3,2.2,1.8 c1.8,1.1,3.9,1.7,6.1,1.7c1.7,0,3.3-0.4,4.7-1.1c1.2-0.6,2.3-1.6,3.2-2.8c1-1.4,1.8-3.2,2.2-5.2c0.4-1.6,0.6-3.4,0.6-5.4 c0-1.7-0.1-3.3-0.1-4.3C72,57.4,72,57,72,56.7c0-0.2,0-0.3-0.1-0.4c0-0.5-0.3-1.1-0.7-1.5c-0.3-0.3-0.7-0.5-1.1-0.7 s-0.9-0.3-1.3-0.3c-0.3,0-0.6,0-0.9,0.1c-0.2,0.1-0.3,0.1-0.5,0.2c-0.1-0.4-0.3-0.8-0.6-1.1c-0.5-0.6-1.3-1-2.1-1l0,0 c-0.6,0-1.2,0.2-1.7,0.5c-0.1-0.5-0.3-0.9-0.6-1.2c-0.5-0.6-1.3-1-2.1-1h-0.1c-0.5,0-1,0.1-1.4,0.4c0-1.5,0-3,0-4.2 c0-0.3,0-0.9-0.4-1.6c-0.2-0.4-0.5-0.8-0.9-1.1C57.3,43.4,56.8,43.2,56.2,43.2L56.2,43.2z'/%253E%253C/g%253E%253C/svg%253E"), pointer;
}

#logoContainer {
    height: 50px;
    width: 100px;
    /*border: 1px solid saddlebrown;*/
    padding: 20px ;
}

#headerLinks {
    display: inline;
    height: auto;
    display: flex;
    align-items: center;
}

.linkItem a:hover {
    font-family: 'NeueMontreal';
    font-weight: 500;
    cursor: pointer;
    color: white;
    text-decoration: underline #cb1860 3px;
}

.linkItem a {
     width: 100px;
     height: 20px;
     display: inline;
     font-family: 'NeueMontreal';
     font-weight: 500;
     text-align: center;
     justify-content: center;
     color: white;
     text-decoration: none;
     letter-spacing: 1px;
     /* border: 1px solid yellowgreen; */
}

.rotate {
    animation: rotation 10s infinite linear;
    background-color: #000000;
    border-radius: 30px;
}
.rotatingIcon {
    align-items: flex-end;
    display: flex;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.marquee {
    width: 100%;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: content-box;
    position: relative;
    font-family: 'Migra';
    font-weight: 900;
    position: relative;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    background-color: #000000;
} 

.marquee::before {
    position: absolute;
    top: 0;
    width: 50px;
    height: 60px;
    content: "";
    z-index: 1;
    left: 0;
}

.marquee::after {
    position: absolute;
    top: 0;
    width: 50px;
    height: 60px;
    content: "";
    z-index: 1;
    right: 0;
    /*background: linear-gradient(to left, black 3%, transparent 100%);*/
}
  
  
.marquee__content {
    width: 300% !important;
    display: flex;
    line-height: 60px;
    animation: marquee 20s linear infinite forwards;
    overflow: hidden;
}

.marquee__content2 {
    width: 300% !important;
    display: flex;
    line-height: 60px;
    animation: marquee 20s linear infinite forwards;
    overflow: hidden;
}
  
.list-inline {
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    /* reset list */
    list-style: none;
    padding: 0;
    margin: 0;
}

@keyframes marquee {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-66.6%); }
}

.list-inline li {
    font-family: 'Migra';
    font-weight: 900;
    color: white;
    letter-spacing: 3px;
}
  
#projectSkillsSection {
      font-family: 'Migra';
      display: block;
      text-align: center;
      align-content: center;
      background-color: #0000003e;
}

#projectSectionContainer {
      padding-top: 10px;
      padding-bottom: 80px;
}

#skillsSectionContainer {
      padding-bottom: 50px;
      margin-top: -30px;
}

#projectSection .sectionHeading {
      display: block;
      flex-basis: 100%;
}

.projectPreviews {
      border: 1px solid white;
      width: 350px;
      display: block;
      text-align: center;
      margin: 0px 30px 80px 30px;
      height: auto;
}

.projectDesc h3, .projectTitle, .projectDescription  {
    border-top: 1px solid white;
    margin: 0;
    padding: 15px;
}
.projectDesc h3 {
    background-color: transparent;
}

.projectImage {
    background-size: cover;
    background-color: white;
    width: calc(100% - 30px);
    margin: 15px;
    height: 250px;
}

#deseImage {
    background-image: url(../images/DESE-project-image_2.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
#whynotImage {
    background-image: url(../images/whynot-project-image_2.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.projectDescription {
    font-family: 'NeueMontreal';
    text-align: left;
}

.projectDesc a, #profileIntro a  {
      text-decoration: none;
      color: white;
      height: auto;
      font-family: 'Migra';
}

.sectionHeading {
      font-family: 'Migra';
      font-weight: 900;
      color: white;
      letter-spacing: 2px;
      margin-top: 50px;
      margin-bottom: 50px;
      /*border: 2px solid yellowgreen;*/
}



.viewProjectButton {
      padding: 10px 20px;
      width: 150px;
      /*background-image: linear-gradient(to bottom right, #cb1860, #d35b2b);
      border: 1px solid rgba(255, 255, 255, 0);*/
      /*border: 1px solid white;*/
      border-image: linear-gradient(to bottom right, #cb1860, #d35b2b);
      display: inline-block;
      font-family: 'NeueMontreal';
      font-weight: 500;
      letter-spacing: 1px;
      margin: 10px;
      cursor: pointer;
      color: white;
      border-width: 1px;
      border-style: solid;
      border-image-slice: 1;
      border-radius: 0px;
}

.viewProjectButton:hover {
    /*background-image: linear-gradient(to bottom right, #00000000, #00000000);
    border: 1px solid white;*/
    font-family: 'NeueMontreal';
    font-weight: 900;
    background-image: linear-gradient(to bottom right, #cb1860, #d35b2b);
      border: 1px solid rgba(255, 255, 255, 0);
}

.viewProjectButton:focus {
    /*background-image: linear-gradient(to bottom right, #d35b2b, #cb1860);
    border: 1px solid white;*/
    font-family: 'NeueMontreal';
    font-weight: 900;
}

.viewProjectButton:active {
    /*background-image: linear-gradient(to bottom right, #00000000, #00000000);
    border: 1px solid white;*/
    font-family: 'NeueMontreal';
    font-weight: 900;
}

.flexContainer {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: center;
      /*border: 2px solid yellowgreen;*/
}



#viewAll {
      display: block;
}

.skillContainer {
      width: 300px;
      min-width: 300px;
      display: block;
      padding: 0px;
      justify-content: center;
      /*border: 1px solid salmon;*/
      box-sizing: content-box;
      margin: 0 30px 30px 30px;
}

.wrapper {
      border: 0px;
      letter-spacing: 1px;
      border-left: 1px solid white;
      border-right: 1px solid white;
      border-bottom: 1px solid white;
      margin: 0;
      justify-content: center;
      align-items: center;
      display: flex;
      box-sizing: content-box;
      width: 300px;
}

.wrapper h3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
}

.skillTag {
      font-family: "NeueMontreal";
      border: 1px solid white;
      padding-top: 5px;
      padding-bottom: 5px;
      border-radius: 300px;
      letter-spacing: 1px;
}

.wrapperTags {
    display: grid;
    gap: 5px;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    width: 280px;
    padding: 25px 10px;
}

#designWrapper {
    grid-template-columns: repeat(2, 1fr);
}

#toolsWrapper {
    grid-template-columns: repeat(3, 1fr);
}

.uxTag1a { 
    grid-column: 1 / span 6;
    grid-row: 1;
}

.uxTag2a {
    grid-column: 1 / span 3;
    grid-row: 2;
}

.uxTag3a { 
    grid-column: 4 / span 3;
    grid-row: 2;
}

.uxTag4a {
    grid-column: 1 / span 2;
    grid-row: 3;
}

.uxTag5a { 
    grid-column: 3 / span 2;
    grid-row: 3;
}

.uxTag6a {
    grid-column: 5 / span 2;
    grid-row: 3;
}

.skillsImage {
    height: 200px;
    width: 100%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
}

#doubleDiamondShape, #diamondDesign, #diamondToolbelt {
    width: 200px;
    margin: auto;
}

footer {
    font-family: 'NeueMontreal';
    padding: 30px 20px 20px 20px;
    color: white;
    display: flex;
    box-sizing: content-box;
    /* justify-content: space-between; */
    background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
}

#footerLinks {
    display: inline;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#copyright {
    margin-left: 0;
    margin-right: auto;
    width: 350px;
}
#creditsLine {
    margin-right: 0;
    margin-left: auto;
    width: 350px;
    text-align: right;
}

#creditsLine, #copyright {
    font-weight: 100;
    font-size: .8em;
    height: 30px;
    position: relative;
    bottom: 0px;
}

#aboutMe {
    text-align: center;
    color: white;
    font-family: 'NeueMontreal';
    display: block;
    padding-bottom: 50px;
    letter-spacing: 1px;
}

#profileSection {
    display: absolute;
    /*border: 1px solid yellow;*/
}

#profile {
    display: flex;
    justify-content: center;
    position: relative;
}
.profileContent {
    display: flex;
    align-items: center;
}

#profileIntro {
    text-align: left;
    background-color: #000000;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 3px 4px 65px 10px rgba(0, 0, 0, 0.54);
    margin-top: 20px;
    border: 1px solid white;
}
#contactMe {
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    cursor: url('../images/pressButtonPointer60.png'), pointer;
    
}
#contactMeContainer {
    cursor: url('../images/pressButtonPointer60.png'), pointer;
}


#contactMe .sectionHeading {
    display: block;
    flex-basis: 100%;
}
#contactMeContainer {
        font-family: 'Migra';
        display: block;
        text-align: center;
        align-content: center;
        padding-bottom: 50px;
        margin-top: -30px;
}

#contactList {
    display: inline-flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

.rotateDiamond {
    animation: rotation2 5s infinite linear;

}
.rotatingDiamond {
    align-items: flex-end;
    display: flex;
}

@keyframes rotation2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.linkItemFooter {
    padding: 15px;
}

.hover-1 {
    background: linear-gradient(#d35b2b 0 0) var(--p,0)/var(--p,0) no-repeat;
    transition: .4s,background-position 0s;
  }
  .hover-1:hover {
    --p: 100%;
    color: #fff;
  }
